FLowMate_WorkFLow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "sendTo": "ddmbilek@gmail.com",
        "subject": "=Günlük Brifing - {{ $now.toFormat(\"dd MMMM yyyy\") }}",
        "message": "=<h2>Günlük Mail ve Takvim Özeti</h2>\n<p>Tarih: {{ $now.toFormat(\"dd.MM.yyyy HH:mm\") }}</p>\n<p>Mail Sayisi: {{ $(\"Get many messages\").all().length }}</p>\n<h3>AI Analizi:</h3>\n<div>{{ $('Message a model').all().map(m => \"Konu: \" + m.json.Subject + \"\\nGönderen: \" + m.json.From + \"\\nÖzet: \" + m.json.snippet).join(\"\\n\\n===\\n\\n\") }}</div>\n<hr>\n<hr>\n<p>Toplantı Sayısı: {{ $(\"Get Today Events\").all().length }}</p>\n<h3>Bugünün Toplantıları:</h3>\n<ul>{{ $(\"Get Today Events\").all().map(e => \"<li>\" + e.json.summary + \" - \" + e.json.start.dateTime.split(\"T\")[1].substring(0,5) + \"</li>\").join(\"\") }}</ul>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "76d889e8-406e-4f0f-8b8a-2c85285504a1",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        96
      ],
      "webhookId": "c36476b6-f9a5-4dae-8e50-1c87b8392006",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5EVzaMnwER4qyQD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1koze-9D1-KGXoDzZUVLYUhDltNTmpCYud2onMcybc3A",
          "mode": "list",
          "cachedResultName": "Düğüm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1koze-9D1-KGXoDzZUVLYUhDltNTmpCYud2onMcybc3A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1koze-9D1-KGXoDzZUVLYUhDltNTmpCYud2onMcybc3A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mail Sayısı": "={{ $(\"Get many messages\").all().length }}",
            "Tarih": "={{ $now.toFormat(\"dd.MM.yyyy HH:mm\") }}",
            "Toplantı Sayısı": "={{ $(\"Get Today Events\").all().length }}",
            "Toplantı İçeriği": "={{ $(\"Get Today Events\").all().map(e => e.json.summary + \" - \" + e.json.start.dateTime.split(\"T\")[1].substring(0,5)).join(\", \") }}",
            "Analiz": "={{ $('Get many messages').all().map(m => \"Konu: \" + m.json.Subject + \"\\nGönderen: \" + m.json.From + \"\\nÖzet: \" + m.json.snippet).join(\"\\n\\n===\\n\\n\") }}"
          },
          "matchingColumns": [
            "Tarih"
          ],
          "schema": [
            {
              "id": "Tarih",
              "displayName": "Tarih",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mail Sayısı",
              "displayName": "Mail Sayısı",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Toplantı Sayısı",
              "displayName": "Toplantı Sayısı",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Analiz",
              "displayName": "Analiz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Toplantı İçeriği",
              "displayName": "Toplantı İçeriği",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {}
          }
        }
      },
      "id": "555052aa-7d56-48c2-b0e2-de57ab4a6dba",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4WHasKXtPsvQBcSN",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "Tarih",
              "value": "={{ $now.toFormat(\"dd.MM.yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "Mail Sayısı",
              "value": "={{ $json.emailCount ?? 0 }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "Toplantı Sayısı",
              "value": "={{ $json.eventCount ?? 0 }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "Analiz",
              "value": "={{ $json.content ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "5b48c308-fbd9-4fbc-9cc5-36f0ef6138ba",
              "name": "Toplantı İçeriği",
              "value": "={{ $json.content ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f9659624-a06c-4019-a3a2-1ae20af16f95",
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ddmbilek@gmail.com",
          "mode": "list",
          "cachedResultName": "ddmbilek@gmail.com"
        },
        "limit": 20,
        "timeMin": "={{ $today.toISO() }}",
        "timeMax": "={{ $today.plus({ days: 1 }).toISO() }}",
        "options": {}
      },
      "id": "80709cc6-6125-4ff0-bbce-e1945fa26132",
      "name": "Get Today Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        512,
        80
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jToFz99AAqPBC73w",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "e2e9a61c-8fb2-45d0-8c3c-00d9ba8d1d7a",
      "name": "Combine Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36199a47-a167-4f71-92e0-f1ab7c4fdf16",
              "name": "text",
              "value": "={{ $(\"Message a model\").first().json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "2d822af8-a7ad-4474-bba6-02031c56fe2e",
              "name": "tarih",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "017db514-4a2e-4576-9904-24bc56955d54",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Sen bir kişisel AI asistanısın. Aşağıdaki TÜM e-postaları BİR ARADA analiz et ve Türkçe olarak şunları yap:\n\n1. Her maili önem derecesine göre sınıflandır (Acil / Normal / Bilgi amaçlı)\n2. Her mail için 1 cümlelik özet yaz\n3. En önemli 3 maili öne çıkar\n4. Genel bir günlük brifing yaz\n\nE-postalar:\n{{ $('Get many messages').all().map(m => \"Konu: \" + (m.json.subject || m.json.Subject || m.json.headers?.subject || \"Bilinmiyor\") + \"\\nGönderen: \" + (m.json.from || m.json.From || m.json.headers?.from || \"Bilinmiyor\") + \"\\nÖzet: \" + (m.json.snippet || \"\")).join(\"\\n\\n===\\n\\n\") }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        448,
        -80
      ],
      "id": "5e2d71fa-53b2-4ce7-bc98-496a5b3c5be3",
      "name": "Message a model",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "5g3xmuK3fhLr5DNq",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 3,
        "filters": {
          "includeSpamTrash": false,
          "q": "-from:ben -subject:\"Günlük Brifing\""
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        96
      ],
      "id": "ffc4a965-a9c3-41c2-bc7c-3072fb764d9b",
      "name": "Get many messages",
      "webhookId": "4255e02d-4c08-49d6-8bb0-7fbfcf792314",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "N5EVzaMnwER4qyQD",
          "name": "Gmail OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "3ab136c6-feb0-41a7-ba21-025824c60485",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "ali@startup.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ali Yılmaz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "ayse@startup.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ayşe Kaya"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "mehmet@startup.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mehmet Demir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "selin@startup.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Selin Çelik"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "49a1f467-d103-4b1d-8305-9c4a3165d187",
      "name": "Route Email",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        800,
        544
      ]
    },
    {
      "parameters": {
        "sendTo": "ali@startup.com",
        "subject": "=Yönlendirildi: {{ $('Get many messages').item.json.Subject }}",
        "message": "=<h3>📧 Yönlendirilen Mail</h3><p><strong>Kategori:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).kategori }}</p><p><strong>Öncelik:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).oncelik }}</p><p><strong>Özet:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).ozet }}</p><p><strong>Neden:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).neden }}</p><hr><p><strong>Orijinal Konu:</strong> {{ $('Get many messages').item.json.Subject }}</p><p><strong>Gönderen:</strong> {{ $('Get many messages').item.json.From }}</p><p><strong>İçerik:</strong></p><div>{{ $('Get many messages').item.json.snippet }}</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "0eaae60f-4b8d-40ff-bc8e-5dae34cee305",
      "name": "Forward to Ali",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        288
      ],
      "webhookId": "5e0acc76-7b59-4324-b726-d92de2e7ca3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5EVzaMnwER4qyQD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ayse@startup.com",
        "subject": "=Yönlendirildi: {{ $('Get many messages').item.json.Subject }}",
        "message": "=<h3>📧 Yönlendirilen Mail</h3><p><strong>Kategori:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).kategori }}</p><p><strong>Öncelik:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).oncelik }}</p><p><strong>Özet:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).ozet }}</p><p><strong>Neden:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).neden }}</p><hr><p><strong>Orijinal Konu:</strong> {{ $('Get many messages').item.json.Subject }}</p><p><strong>Gönderen:</strong> {{ $('Get many messages').item.json.From }}</p><p><strong>İçerik:</strong></p><div>{{ $('Get many messages').item.json.snippet }}</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "533d2829-fe54-4cea-b675-ec6439311998",
      "name": "Forward to Ayşe",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        480
      ],
      "webhookId": "33117cd3-9306-4f7c-9538-00d8d17c9eda",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5EVzaMnwER4qyQD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mehmet@startup.com",
        "subject": "=Yönlendirildi: {{ $('Get many messages').item.json.Subject }}",
        "message": "=<h3>📧 Yönlendirilen Mail</h3><p><strong>Kategori:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).kategori }}</p><p><strong>Öncelik:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).oncelik }}</p><p><strong>Özet:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).ozet }}</p><p><strong>Neden:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).neden }}</p><hr><p><strong>Orijinal Konu:</strong> {{ $('Get many messages').item.json.Subject }}</p><p><strong>Gönderen:</strong> {{ $('Get many messages').item.json.From }}</p><p><strong>İçerik:</strong></p><div>{{ $('Get many messages').item.json.snippet }}</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "6bd59e4e-a37f-4bb4-8739-055106ac449c",
      "name": "Forward to Mehmet",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        672
      ],
      "webhookId": "89041d8d-6650-441f-b858-ac9f97742dfe",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5EVzaMnwER4qyQD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "selin@startup.com",
        "subject": "=Yönlendirildi: {{ $('Get many messages').item.json.Subject }}",
        "message": "=<h3>📧 Yönlendirilen Mail</h3><p><strong>Kategori:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).kategori }}</p><p><strong>Öncelik:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).oncelik }}</p><p><strong>Özet:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).ozet }}</p><p><strong>Neden:</strong> {{ JSON.parse($('Classify Email').item.json.message.content).neden }}</p><hr><p><strong>Orijinal Konu:</strong> {{ $('Get many messages').item.json.Subject }}</p><p><strong>Gönderen:</strong> {{ $('Get many messages').item.json.From }}</p><p><strong>İçerik:</strong></p><div>{{ $('Get many messages').item.json.snippet }}</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fbfba216-129f-4add-a66d-b7cde0cc044c",
      "name": "Forward to Selin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        864
      ],
      "webhookId": "8e4defe6-e46d-44da-b672-cf664602cf5b",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5EVzaMnwER4qyQD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        800
      ],
      "id": "9c8a71f5-78f8-472a-8863-f192ba2f6c4e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "hkioDIZvN5kAFthN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen bir akıllı mail yönlendirme asistanısın.\n\nEkip bilgisi:\n- Ali Yılmaz (ali@startup.com) → Teknik, geliştirme, yazılım\n- Ayşe Kaya (ayse@startup.com) → Pazarlama, sosyal medya, iş birliği\n- Mehmet Demir (mehmet@startup.com) → Fatura, muhasebe, finans\n- Selin Çelik (selin@startup.com) → Müşteri, destek, şikayet\n\nGelen mail:\nKonu: {{ $json.subject }}\nİçerik: {{ $json.snippet }}\n\nBu maili yukarıdaki ekip bilgisine göre analiz et.\nSadece şu JSON formatında yanıt ver:\n\n{\n  \"alici_adi\": \"...\",\n  \"alici_mail\": \"...\",\n  \"kategori\": \"...\",\n  \"ozet\": \"...\",\n  \"oncelik\": \"Acil / Normal / Bilgi amaçlı\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        640
      ],
      "id": "46878439-c488-4e66-b4e7-fd456adcbd28",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {
    "Format for Sheets": [
      {
        "json": {
          "Analiz": "",
          "Mail Sayısı": 3,
          "Tarih": "12.05.2026 10:09",
          "Toplantı Sayısı": "1 ",
          "Toplantı İçeriği": "Akademi Hackathonu 2026 - 20:00"
        }
      }
    ]
  },
  "connections": {
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Events": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Today Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Email": {
      "main": [
        [
          {
            "node": "Forward to Ali",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward to Ayşe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward to Mehmet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward to Selin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Route Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7e28f21f-ec42-432f-9567-b41b9774953b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "250ba76e5c643716962727ac5f08d90a62b8e79c4cf61ea467323f8f0cde717f"
  },
  "id": "9B0AM98Evlif2AKs",
  "tags": []
}